@media(max-width: 767px) {

    /* helping class*/
    .mb-30 {
        margin-bottom: 30px;
    }

    .mb-15 {
        margin-bottom: 15px;
    }

    .mb-0 {
        margin-bottom: 0;
    }

    .collapse.in a {
        padding: 10px 15px;
    }

    .navbar {
        padding: 8px 0 !important;
    }

    .navbar-brand {
        padding: 15px 15px;
    }

    header {
        margin-bottom: 0;
    }

    header:before,header:after{
        display: none;
    }

    .header-content {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    .header-content p {
        width: 80%;
    }

    .aboutapp-img {
        margin-top: 50px;
    }

    .app-features-content .mt-70 {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .app-features-content .mb-0 {
        margin-bottom: 0;
    }

    .action-features-img {
        margin-top: 40px;
    }

    .single-app-screenshot img {
        min-width: 100%;
    }

    .screenshot-overlay {
        width: 100%;
    }

    .app-screenshot-carousel .owl-dots {
        display: none;
    }

    .single-member img {
        width: 100%;
    }

    .team-overlay.white-text p {
        display: none;
    }

    .team-overlay {
        top: -15px;
        left: 0;
        height: 100%;
        padding-top: 30%;
    }

    .single-member:hover .team-overlay {
        top: 0;
    }

    .download-img {
        margin-top: 40px;
    }

    #subscribe .subscribe-wrapper {
        padding: 40px;
    }

    #subscribe .subscribe-wrapper h2 {
        margin-bottom: 30px;
    }

    .get-in-touch {
        padding: 100px 40px 100px 40px;
    }

    .boxed-btn.live-chat {
        right: 30%;
    }

    #map {
        height: 1400px;
    }


}

/* Small Devices, Tablets */

@media (min-width: 768px) and (max-width: 991px) {

    /* helping class*/
    .mb-30 {
        margin-bottom: 30px;
    }

    .mb-3.third {
        margin-bottom: 0;
    }

    .mb-15 {
        margin-bottom: 15px;
    }

    .mb-0 {
        margin-bottom: 0;
    }

    .navbar {
        padding: 20px 0 !important;
    }


    header:before,header:after{
        display: none;
    }

	.dark-version .header-app-slider,
    .header-app-slider {
        background: transparent;
        padding-top: 0px;
    }

    .swiper-container.one {
        width: 80%;
    }
    
    #about-app {
        text-align: center;
    }
    .aboutapp-img {
        margin-top: 50px;
    }


    .action-features-img {
        margin-top: 40px;
    }

    .app-screenshot-carousel .owl-dots {
        display: none;
    }


    .single-member img {
        width: 100%;
    }


    .team-overlay {
        top: -15px;
        left: 0;
        height: 100%;
        padding-top: 30%;
    }

    .single-member:hover .team-overlay {
        top: 0;
    }
    .download-img {
        margin-top: 40px;
    }
    
    #download-app {
        text-align: center;
    }
    #subscribe .subscribe-wrapper h2 {
        margin-bottom: 30px;
    }

    #map {
        height: 1350px;
    }


    .boxed-btn.live-chat {
        right: 40%;
    }

}


@media (min-width: 1000px) {
    .contact-details,
    .get-in-touch {
        height: 600px;
    }

    #download-app a.boxed-btn {
        margin-bottom: 10px;
    }
}

@media  (min-width: 991px) and (max-width: 1200px){   

	.dark-version .header-app-slider,
    .header-app-slider {
        background: url(img/headerimg.png) no-repeat scroll center center / 100% 75%;
        padding-top: 0px;
    }
}

@media(max-width: 400px) {
	#awesome-team .col-xs-6 {
		width: 100%;
	}
}


@media (min-width: 1200px)
{
 .header-content
 {
    padding-top: 15%
 }   
}

@media (min-width: 1200px) and (max-width: 1380px)
{
.header-content h1
{
    font-size: 200%;  
    margin-bottom: 30px;  
}
.header-content p
{
    font-size: 110%;
}
.boxed-btn
{
font-size: 170%;
}
.header-content .boxed-btn {
   margin-bottom: 20px;
} 
#subscribe
{
    margin-top: 4%;
}  
#subscribe .subscribe-wrapper
{
    padding: 10px;
}
}
.header-content
{
    padding-top : 15%;
}

@media screen and (max-width: 480px) and (min-width: 320px)
{
    .modal
    {
        left:10%;
        top:25%;
        z-index: 5000;

    }
    .modal-content
{
width: 300px;
}
    .header-content
    {
        margin-top: 19%;
    }

    .header-content h1
    {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .header-content p
    {
        width: 100%;
        font-size: 15px;
        line-height: 18px;
        margin: 0 auto 25px;
    }
    .boxed-btn
    {
        font-size: 120%;
        width: 80%;
        padding:25px 30px 
    }
    .header-content .boxed-btn
    {
        margin-bottom: 0px;
    }
    input.subscribe::placeholder {
    color: #aaa;
    font-size: 12px;
}

#subscribe
{
margin-top: 10%;    
}
#subscribe .subscribe-wrapper
{
    padding: 8px;
}
#subscribe .subscribe-wrapper h2 {
font-size: 15px;
margin-bottom: 8px;
}



}